.about {
  margin-bottom: 20px;

  @include onDesktop {
    margin-right: 135px;
    margin-bottom: 0;

    flex-basis: 427px;
  }

  &__title {
    font-family: "Gilroy-Extrabold", sans-serif;
    font-weight: 800;
    font-size: 53px;
    line-height: 65px;

    text-align: center;
    text-transform: uppercase;

    color: $buttonColor;

    @include onDesktop {
      font-size: 77px;
      line-height: 94px;

      text-align: left;
    }
  }

  &__subtitle {
    @include flex-center;
    gap: 12px;

    margin-bottom: 16px;

    @include onDesktop {
      justify-content: start;
      gap: 16px;

      margin-bottom: 20.5px;
    }

    &-main {
      @include flex-center;

      width: 78px;
      height: 32px;

      background-color: $buttonColor;
      color: $colorWhite;

      border-radius: 3.5px;
      transform: matrix(1, -0.06, 0.06, 1, 0, 0);

      @include onDesktop {
        width: 109px;
        height: 45px;

        border-radius: 5px;
      }
    }

    &-text {
      font-family: "Gilroy-Semi", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;

      color: $colorWhite;

      @include onDesktop {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  &__zero {
    font-family: "Gilroy-Extrabold", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: $colorWhite;

    @include onDesktop {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__info {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 148%;

    text-align: center;
    color: $colorWhite;

    width: 328px;
    margin: auto;

    @include onDesktop {
      width: 419px;

      font-size: 18px;
      line-height: 27px;
      text-align: left;
    }
  }
}

.web {
  margin: 0 129px 0 142px;

  @include onDesktop {
    margin: 0;
  }

  &__wrapper {
    @include flex-center;
    gap: 5px;

    width: 89px;
    height: 24px;

    background-color: #4252d1;
    border-radius: 3px;

    @include onDesktop {
      gap: 7px;

      width: 119px;
      height: 32px;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;

    @include onDesktop {
      width: 19px;
      height: 19px;
    }

    &-img {
      @include onDesktop {
        width: 19px;
        height: 19px;
      }
    }
  }

  &__text {
    font-family: "Gilroy-Semi", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    color: $colorWhite;

    @include onDesktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.blue-text {
  font-family: "Gilroy-Semi", sans-serif;
  font-weight: 600;

  color: #4252d1;
}

.bold-text {
  font-family: "Gilroy-Semi", sans-serif;
  font-weight: 600;
}
