.bonus {
  width: 224px;
  margin: 0 auto 39px;

  @include onDesktop {
    margin: 0;
  }

  &__present {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-bottom: 22px;

    @include onDesktop {
      position: absolute;
      width: 278px;
      height: 52.4px;
      top: 627.59px;

      gap: 30px;
    }

    &-img {
      width: 46px;
      height: 46px;

      @include onDesktop {
        width: 38px;
        height: 38px;
      }
    }

    &-subtitle {
      font-family: "Gilroy-Bold", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 148%;

      color: $colorWhite;

      @include onDesktop {
        font-size: 12px;
      }
    }

    &-text {
      font-family: "Gilroy", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 148%;

      color: $colorWhite;
    }
  }

  &__speaker {
    display: flex;
    justify-content: center;

    gap: 11px;

    @include onDesktop {
      position: absolute;
      width: 375px;
      height: 55.59px;
      top: 556px;
    }

    &-img {
      width: 56px;
      height: 62px;
    }

    &-subtitle {
      font-family: "Gilroy-Bold", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;

      color: $colorWhite;

      @include onDesktop {
        font-size: 13px;
      }
    }

    &-text {
      font-family: "Gilroy", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;

      color: $colorWhite;
    }
  }
}

.blue {
  color: #4252d1;
}
