.small-ellipse {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    position: absolute;
    width: 399px;
    height: 400px;
    left: -31.33px;
    bottom: 490px;

    background: $colorEllipse;
    opacity: 0.5;
    filter: blur(103px);
    transform: rotate(9.41deg);
  }
}

.big-ellipse {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    position: absolute;
    width: 791px;
    height: 793px;
    right: -396.5px;
    bottom: 343px;

    z-index: -1;

    background: $colorEllipse;
    opacity: 0.8;
    filter: blur(103px);
    transform: rotate(9.41deg);
  }
}
