.small-ellipse {
  position: absolute;
  width: 180px;
  height: 180px;
  left: -90px;
  top: 324px;

  background: $colorEllipse;
  filter: blur(250px);

  @media (min-width: 1440px) {
    width: 399px;
    height: 400px;
    top: 0;
    left: -31.33px;
    bottom: 490px;

    opacity: 0.5;
    filter: blur(103px);
    transform: rotate(9.41deg);
  }
}

.big-ellipse {
  position: absolute;
  width: 912px;
  height: 912px;
  left: -151px;
  top: 430px;

  z-index: -1;

  background: $colorEllipse;
  filter: blur(250px);

  @media (min-width: 1440px) {
    width: 791px;
    height: 793px;
    top: 0;
    left: 1069px;
    bottom: 343px;

    opacity: 0.8;
    filter: blur(103px);
    transform: rotate(9.41deg);
  }
}
