.form {
  margin: 0 16px 36px;

  @include onDesktop {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 328px;
    padding: 40px 21px;
    background-color: $formBackground;
    border-radius: 9px;

    @include onDesktop {
      width: 366px;
      padding: 50px 59px;
    }
  }

  &__title {
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;

    color: $colorWhite;
    margin-bottom: 18px;

    @include onDesktop {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    background-color: #272D3D;
    width: 286px;
    height: 46px;
    border-radius: 4.5px;

    padding: 12px 0 12px 26px;
    margin-bottom: 14px;

    color: $colorWhite;

    @include onDesktop {
      width: 248px;
      height: 51px;

      padding: 13px 0 14px 22px;
    }

    &::placeholder {
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;

      color: $colorWhite;

      @include onDesktop {
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  &__button {
    width: 222px;
    height: 46px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-bottom: 18px;

    color: $colorWhite;
    background-color: $buttonColorMobile;
    border-radius: 4.5px;

    @include onDesktop {
      font-size: 15px;
      line-height: 24px;
      width: 248px;
      height: 51px;

      margin-bottom: 20px;

      background-color: $buttonColor;
      border-radius: 5px;
    }
  }

  &__politic {
    font-family: 'Gilroy-Medium';
    font-weight: 500;
    font-size: 11px;
    line-height: 149%;

    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    @include onDesktop {
      font-size: 12px;
    }
  }
}

.highlight {
  color: $buttonColor;
}
