@import "./utils.scss";

@import "./blocks/header.scss";
@import "./blocks/about.scss";
@import "./blocks/form.scss";
@import "./blocks/bonus.scss";
@import "./blocks/icons.scss";
@import "./blocks/footer.scss";
@import "./blocks/ellipse.scss";
@import "./blocks/container.scss";

#root {
  @include onDesktop {
    display: flex;
    flex-wrap: wrap;

    width: 928px;
    margin: 92px auto 27px;
  }
}
